In [ ]:
# CÓDIGO FEITO PARA IMPORTAR DADOS DE PREÇOS HISTÓRICOS DE ATIVOS FINANCEIROS
# (DATA, HORA, ABERTURA, MÁXIMA, MÍNIMA, FECHAMENTO E VOLUME NEGOCIADO) DO
# YAHOO FINANCE DIRETO PARA O METATRADER FIZ ISSO PARA REALIZAR BACKTESTS

#from google.colab import drive
#drive.mount('/content/drive')
# A ORDEM DOS DADOS DEVE SER A SEGUINTE ---> Date, Time, Open, High, Low, Close, Volume


import pdb
import yfinance as yf
import pandas as pd

# Definindo o ticker e o período desejado (VER O NOME NO YAHOO)
# O CÓDIGO DO PAPEL PODE SER ENCONTRADO NO https://finance.yahoo.com/
# POR EXEMPLO VALE3 DEVE-SE ESCREVER VALE3.SA
ticker = input("Digite o código do papel (max period): ")
periodo = "max"

# Baixando os dados históricos e armazenando em um DataFrame
df = yf.download(ticker, period=periodo)

# COMO JÁ OCORREU ERROS DE FORMATO PRECISO EXCLUIR OS CARACTERES EXCEDENTES DA
# COLUNA TIME

# TRANSFORMO O INDICE "DATA" PARA COLUNA PARA FACILITAR A MANIPULAÇÃO
df = df.reset_index()

# REMOVER OS VALORES ALÉM DO DÉCIMO CARACTERE NA COLNA 'Date'
df['Date'] = df['Date'].astype(str).str[:10]

# Preciso ADICIONAR uma coluna entre a primeira coluna e a segunda coluna, que tenha a seguinte informação (00:00:00)
df.insert(1, 'Time', '00:00:00')

# CASO VENHA A COLUNA ADJ CLOSE (eu prefiro nao usar)
if 'Adj Close' in df.columns:
    df = df.drop(columns=['Adj Close'])
    print("Coluna 'Adj Close' deletada.")
else:
    print("Coluna 'Adj Close' não encontrada no DataFrame.")


# Colocar na ordem OHLC
df = df[['Date', 'Time', 'Open', 'High', 'Low', 'Close', 'Volume']]

df.head()

C:\Users\Usuario\AppData\Local\Temp\ipykernel_1228\1449385551.py:21: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ticker, period=periodo)
[*********************100%***********************]  1 of 1 completed

Coluna 'Adj Close' não encontrada no DataFrame.

Price         Date      Time      Open      High       Low     Close   Volume
Ticker                        BBAS3.SA  BBAS3.SA  BBAS3.SA  BBAS3.SA BBAS3.SA
0       2000-01-03  00:00:00  0.516071  0.525901  0.503784  0.503784  1029600
1       2000-01-04  00:00:00  0.503784  0.505013  0.479823  0.479823   628200
2       2000-01-05  00:00:00  0.479209  0.485353  0.462007  0.484738   957600
3       2000-01-06  00:00:00  0.484739  0.491497  0.479209  0.491497   410400
4       2000-01-07  00:00:00  0.491497  0.491497  0.480438  0.480438   788400

In [ ]:
#EXPORTAÇÃO PARA CSV
#from google.colab import drive
#drive.mount('/content/drive')

#PARA PEGAR O DIRETÓRIO UTILIZADO
import os
print(os.getcwd())


#df.to_csv(f'/content/drive/My Drive/Invest/ALGOTRADE/Inserção de dados/OUTPUT DATA COLLAB/{ticker}.csv', index=False)
df.to_csv(f'g:\Meu Drive\Invest\ALGOTRADE\Inserção de dados\OUTPUT DATA COLLAB\{ticker}.csv', index=False)


# dfAdj.to_csv('/content/drive/My Drive/Invest/ALGOTRADE/Inserção de dados/OUTPUT DATA COLLAB/.csv', index=False)

df

g:\Meu Drive\Colab Notebooks

Price,Date,Time,Open,High,Low,Close,Volume
Ticker,,,BBAS3.SA,BBAS3.SA,BBAS3.SA,BBAS3.SA,BBAS3.SA
0,2000-01-03,00:00:00,0.516071,0.525901,0.503784,0.503784,1029600
1,2000-01-04,00:00:00,0.503784,0.505013,0.479823,0.479823,628200
2,2000-01-05,00:00:00,0.479209,0.485353,0.462007,0.484738,957600
3,2000-01-06,00:00:00,0.484739,0.491497,0.479209,0.491497,410400
4,2000-01-07,00:00:00,0.491497,0.491497,0.480438,0.480438,788400
...,...,...,...,...,...,...,...
6430,2025-08-13,00:00:00,19.280001,19.590000,19.240000,19.280001,33738000
6431,2025-08-14,00:00:00,19.160000,19.959999,19.070000,19.850000,70251100
6432,2025-08-15,00:00:00,19.030001,20.799999,19.020000,20.650000,131820200
6433,2025-08-18,00:00:00,20.570000,21.180000,20.150000,21.070000,59254100
6434,2025-08-19,00:00:00,20.799999,20.930000,20.040001,20.120001,38847000